* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
   height: 100vh;
   width: 100vw;
   background-image: url(images/herobg.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;
    text-decoration: none;
}
.nav-bar-list {
    display:flex;
    gap:32px;
    align-items: center;
}
.nav-bar-list-right {
    display:flex;
    gap:12px;
    align-items: center;
}
.nav-link {
    list-style: none;
}
.nav-bar {
    max-width:1440px;
    height: 72px;
    display:flex;
    margin:auto;
    align-items:center;
    padding:0 20px;
    justify-content: space-between;
}
.hero-section {
    display:flex;
    justify-content: space-around;
    margin: 100px auto auto;
    max-width:1440px;
    padding:0 20px;
    flex-direction: column;
}
.hero-title {
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height:98px;
    color:#18191F;
    margin-top: 70px;
}
.hero-content {
    gap:32px;
    display:flex;
    flex-direction:column;
}
.hero-button {
    width:154px;
    height: 48px;
    background: #BC30F5;
    border-radius: 6px;
    color:#fff;
    border:0;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.hero-companylogos {
    height:110px;
    display: flex;
    align-items: center;
    margin: auto;
    gap:65px;
}
body
.footer
{   
    display: flex;
    padding: 56px 165px;
    justify-content: center;
    align-items: flex-start;
    gap: 461px;
    background: var(--default-black, #0B0D17);
}
.footer-content1
{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 469px;
    height: 168px;
}
.footer-logo
{
    height: 32px;
    width: 32px;
    flex-shrink: 0;
}
.footer-section1
{
    color: var(--default-white, #FFF);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
    line-height: normal;
    display: flex;
    flex-wrap: nowrap; 
    
}
.footer-section1 a,
.footer-section2 a {
    color: white;
    text-decoration: none;
}
.footer-section1 li
{
    margin-right: 24px;
    display: flex;
}
.footer-section2
{
    color: var(--default-white, #FFF);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
}
.footer-section2 li
{
    margin-right: 24px;
    display: flex;
   
}
.footer-detail
{
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
}
.footer-content2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 160px;
    height: 140.0002px;
}
.footer-getapp
{
    width: 160px;
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.footer-toapp1
{
    width: 135px;
    height: 40px;
}
.footer-toapp2
{
    width: 135px;
    height: 40px;
}