* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
   height: 100vh;
   width: 100vw;
   background-image: url(images/herobg.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;
    text-decoration: none;
}
.nav-bar-list {
    display:flex;
    gap:32px;
    align-items: center;
}
.nav-bar-list-right {
    display:flex;
    gap:12px;
    align-items: center;
}
.nav-link {
    list-style: none;
}
.nav-bar {
    max-width:1440px;
    height: 72px;
    display:flex;
    margin:auto;
    align-items:center;
    padding:0 20px;
    justify-content: space-between;
}
.hero-section {
    display:flex;
    justify-content: space-around;
    margin: 100px auto auto;
    max-width:1440px;
    padding:0 20px;
    flex-direction: column;
}
.hero-title {
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height:98px;
    color:#18191F;
    margin-top: 70px;
}
.hero-content {
    gap:32px;
    display:flex;
    flex-direction:column;
}
.hero-button {
    width:154px;
    height: 48px;
    background: #BC30F5;
    border-radius: 6px;
    color:#fff;
    border:0;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.hero-companylogos {
    height:110px;
    display: flex;
    align-items: center;
    margin: auto;
    gap:65px;
}
.content{
  text-align: center;
  max-width: 450px;
  display:flex ;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 30px 20px  rgb(250, 249, 249);
}
.title-content{
  font-family:'Inter', sans-serif; 
  font-size: 38px;
  font-weight: 800;
  line-height: 64px; 
}
.desc-content{
  font-family:'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px; 
}
.feauters{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;

}
.feauter-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  max-width: 390px;
}



.feauter-img{
  width: 30px;
  height: 30px;
}

.feauter-title{
  font-family:'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
   line-height: 32px;
   max-width: 450px;

}
.feauter-desc{
  font-family:'Inter', sans-serif ;
  font-size: 16px;
 font-weight: 400;
 line-height: 26px

}

