* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
   height: 100vh;
   width: 100vw;
   background-image: url(images/herobg.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;
    text-decoration: none;
}
.nav-bar-list {
    display:flex;
    gap:32px;
    align-items: center;
}
.nav-bar-list-right {
    display:flex;
    gap:12px;
    align-items: center;
}
.nav-link {
    list-style: none;
}
.nav-bar {
    max-width:1440px;
    height: 72px;
    display:flex;
    margin:auto;
    align-items:center;
    padding:0 20px;
    justify-content: space-between;
}
.hero-section {
    display:flex;
    justify-content: space-around;
    margin: 100px auto auto;
    max-width:1440px;
    padding:0 20px;
    flex-direction: column;
}
.hero-title {
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height:98px;
    color:#18191F;
    margin-top: 70px;
}
.hero-content {
    gap:32px;
    display:flex;
    flex-direction:column;
}
.hero-button {
    width:154px;
    height: 48px;
    background: #BC30F5;
    border-radius: 6px;
    color:#fff;
    border:0;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.hero-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.hero-companylogos {
    height:110px;
    display: flex;
    align-items: center;
    margin: auto;
    gap:65px;
}
.box-1{
    width: 1440px;
    height: 896px;

    justify-content: space-evenly;

}
.box-1-heading{
    
    font-family: Inter,sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    color: #18191F;
}
.box-1-para{
    
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #18191F;
}
.box-2{
    width: 350px;
    height: 468px;
    top: 312px;
    left: 355px;
 
    border: #FFFFFF;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    
}
.box-2-footer{
   
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #18191F;

}
.box-2-footer-{
    
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #969BAB;

}
.left-box{
       justify-content: center;
}
.box-3{
    width:445px;
    height: 340px;
    top: 168px;
    left: 735px;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    
}
.box-3-logo{
    width: 130px;
    height: 40px;

}
.box-3-content{
    
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.box-3-footer{
  
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #18191F;
  
}
.box-3-footer-{
    
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #969BAB;

}
.test-section{
    background: #D5FAFC;

}

.book-my-show{
    margin-bottom: 32px;
    width: 135px;
    height: 40px;
}
.quotation-mark{
        position: absolute;
        left: 32px;
        top: 104px;
        width: 16px;
        height: 14px;
}
.box-content{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    margin-bottom:20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.founder{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.position{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.information{
    margin-left:16px;
}
.box-4{
    position: relative;
    border-radius:8px;
    box-shadow:0px 10px 20px 0px rgba(41, 41, 41, 0.07);
    margin-right:355px;
    margin-bottom:80px;
    max-width:355px;
    min-height: 275px;
    padding:32px;
    background-color: #fff;
}
.box-3{
    position:relative;
    border-radius:8px;
    box-shadow:0px 10px 20px 0px rgba(41, 41, 41, 0.07);
    margin-right:260px;
    margin-top:165px;
    max-width:445px;
    min-height: 340px;
    padding:32px;
    background-color: #fff;
}
.box-2{
    position: relative;
    margin-left:355px;
    border-radius:8px;
    box-shadow:0px 10px 20px 0px rgba(41, 41, 41, 0.07);
    max-width:350px;
    min-height: 468px;
    background-color: #fff;
    padding:32px;
}