*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #D5FAFC;
    
}

.testimony{
    display: flex;
    border:2px solid yellow;
}

.testimony-intro{
    margin-left:260px;
    margin-top: 120px;
}

.testimony-title{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.big-quote{
    border:2px solid green;
    opacity: 0.7;
    max-width:auto;
    height: 120px;
}

.small-quote{
    position:absolute;
    left:32px;
    top:104px;
    width:16px;
    height:14px;
}

.testimonial-info{
    display:flex;
    flex-direction: column;
    margin-left:16px;
    
}


.testimony-heading{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}

.testimony-para{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.hubspot-testimony{
    display:flex;
    flex-direction: column;
    position: relative;
    border:2px solid rgb(28, 198, 39);
    background-color: #fff;
    padding:32px;
    margin-top:32px;
    margin-right:30px;
    margin-left:355px;
}

.hubspot-image {
    margin-bottom: 32px;
    width:140px;
    height:40px;
}

.compliment{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    margin-bottom:20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

.name{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}


.designation{
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}


.bookmyshow-testimony{
    display:flex;
    position: relative;
    flex-direction: column;
    padding:32px;
    border:2px solid black;
    margin-bottom:80px;
    margin-right:355px;
    background-color: #fff;
}

.bookmyshow-image {
    margin-bottom: 32px;
    width:135px;
    height:40px;
}


.airbnb-testimony{
    display:flex;
    flex-direction: column;
    position:relative;
    padding:32px;
    margin-top:165px;
    margin-right:260px;
    margin-bottom: 30px;
    border:2px solid rgb(175, 29, 29);
    background-color: rgb(250, 249, 249);
}

.airbnb-image {
    margin-bottom: 32px;
    width:130px;
    height:40px;;
}


